/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    font-family: sans-serif;
}

.col-items{
    height: 400px;
    position: relative;
}

img{
    height: 100%;
    display: inline-block
}

/* Utils */
.container{
    max-width: 900px;
    margin: 0 auto;
}

.red{
    color: red;
}

.barred{
    text-decoration: line-through;
}

/* Header */
header{
    display: flex;
    background-color: darkorange;
    margin-bottom: 50px;
}

nav{
    display: flex;
}
/* Main */
.flex-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-1{
    position: relative;
    background-image: url("../img/1.webp");
    background-size: cover;
    background-position: center;
}

.col-2{
    position: relative;
}

.col-3{
    position: relative;
}

.col-4{
    position: relative;
}

.col-5{
    position: relative;
}

.col-6{
    position: relative;
}


.absolute-col-1{
    position: absolute;
    bottom: 20px;
    left: 0; 
    margin-right: 10px;
    padding: 5px;
    font-size: smaller;
    background-color: red;
    color: white;
}

.absolute-col-2{
    position: absolute;
    bottom: 20px;
    left: 40px; 
    padding: 5px;
    margin-left: 5px;
    font-size: smaller;
    background-color: green;
    color: white;
}

.hearts{
    position: absolute;
    top: 7px;
    right: 0;
    padding: 5px;
    background-color: white;
}

.hearts:hover{
    color: red;
}

.col-1:hover{
    background-image: url(../img/1b.webp);
}


